:root {
    --text-color: #222227;
    --bg-color: #FCFCFC;
    --panel-color: #EBEBEB;
    --seperator: #C9C9C9;
}

[data-theme="dark"] {
    --text-color: #FCFCFC;
    --bg-color: #161619;
    --panel-color: #222227;
    --seperator: #444449;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

ul, li {
    list-style: none;
}

a {
    position: relative;
    color: #FCFCFC;
    mix-blend-mode: difference;
}

a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    background-color:#FCFCFC;
    mix-blend-mode: difference;
    transition: width 0.2s ease-in-out;

}

a:hover::after {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-rendering: optimizeLegibility;
}

header{
    margin-left: 1%;
    width: 98%;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--seperator);
}

header span{
    font-size: 1.4rem;
    font-weight: 700;
    
}

.container {
    padding: 1rem;
    width: 100%;
    margin: auto;
}

.generalData{
    width: max-content;
    padding: 1rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 10px;
    background-color: var(--panel-color);
}

.generalData span{
    font-size: 1.1rem;
    font-weight: 500;
}

.generalData table{
    margin-top: 0.8rem;
}

.generalData table td{
    padding: 4px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--panel-color);
}

.chart-container span{
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.slidecontainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.slidecontainer label{
    text-align: center;
}

#chart1, #chart2 {
    max-height: 60vh !important;
    width: 100%;
}

.container>h1 {
    text-align: center;
}

footer {
    padding-top: 1rem;
    border-top: solid 1px var(--seperator);
    text-align: center;
}

html.transiton, html.transition *, html.transition *:before, html.transition *:after{
    transition: all 300ms !important;
    transition-delay: 0 !important;
}

input[type=checkbox]{
	height: 0;
	width: 0;
    visibility: hidden;
    position: absolute;
}

.radio {
	cursor: pointer;
	text-indent: -9999px;
	width: 42px;
	height: 24px;
	background: var(--seperator);
	display: block;
	border-radius: 100px;
	position: relative;
}

.radio:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

input:checked + .radio{
	background: purple;
}

input:checked + .radio:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.radio:active:after {
	width: 25px;
}
@media (max-width: 720px) {

    header span {
        font-size: 1.2rem;
    }   
    .container, .generalData {
        padding: 1rem 0.3rem 1rem 0.3rem;
        width: 100%;
    }

    .slidecontainer{
        flex-direction: column;
    }
}
